
<div class="col-lg-8">
<img style="margin-left: 9%" alt="" src="app/frontEnd\ARPGBA\common\images\logo.jpg" />
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <h1>
          <small>Ingrese</small>
        </h1>
      </div>
    </div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario</label>
          <input class="form-control" ng-model="loginController.usuario.user" placeholder="Usuario">
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input class="form-control" ng-model="loginController.usuario.pass" placeholder="Contraseña" type="password">
        </div>
        <button class="btn btn-default" type="button" ng-click="loginController.iniciarSesion()">Ingresar</button>
      </form>
    </div>
  </div>
</div>
<div class="col-lg-2">

</div>
