<div class="modal-header">
  <h1>{{modalController.persona.nombre}}
    {{modalController.persona.apellido}}</h1><br>
</div>
<div class="modal-body">
  <form class="form-group">
    <label for="">D.N.I</label>
    <input type="text" class="form-control" value="{{modalController.persona.dni}}"></input><br>
    <label for="">Estado Licencia</label>
    <input type="text" class="form-control" value="{{modalController.persona.licencia.activa}}"></input><br>
    <label for="">Fecha de nacimiento</label>
    <input type="text" class="form-control" value="{{modalController.persona.FechaNacimiento}}"></input><br>
    <label for="">Sexo</label>
    <input type="text" class="form-control" value="{{modalController.persona.sexo}}"></input><br>
    <label for="">Nacionalidad</label>
    <input type="text" class="form-control" value="{{modalController.persona.nacionalidad}}"></input><br>
    <label for="">Domicilio</label>
    <input type="text" class="form-control" value="{{modalController.persona.domicilio.direccion}}, {{modalController.persona.domicilio.localidad}}, {{modalController.persona.domicilio.provincia}}" ></input><br>
    <label for="">Club</label>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" type="button">OK</button>
  <button class="btn btn-warning" ng-click="cancel()" type="button">Cancel</button>
</div>
