<input class="form-control" name="name" ng-model="filtroPadron" placeholder="Escriba por lo que se desea filtrar" type="text"><br>
<div class="checkbox">
  <label>
    <input class='' ng-init='multiselect = false' ng-model="multiselect" type='checkbox'>
    <b>Habilitar multiseleccion</b>
  </label>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Sexo</th>
      <th>F.Nacimiento</th>
      <th>Categorias</th>
      <th>Club</th>
    </tr>
  </thead>
  <tr multiselect="{{multiselect}}" ng-repeat="persona in padronController.mergedPadron | filter: filtroPadron" selectable-row>
    <td>{{persona.dni}}</td>
    <td>{{persona.nombre}}</td>
    <td>{{persona.apellido}}</td>
    <td>{{persona.sexo}}</td>
    <td>{{persona.fNacimiento}}</td>
    <td>
      <div  ng-if="persona.catDanza || catEsc || catLibre" class="dropdown">
        <button aria-expanded="true" aria-haspopup="true" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button">
          Categorias
          <span class="caret"></span>
        </button>
        <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
            <li><a href="#">{{persona.catDanza.denominacion}}</a></li>
            <li><a href="#">{{persona.catEsc.denominacion}}</a></li>
            <li><a href="#">{{persona.catLibre.denominacion}}</a></li>
        </ul>
      </div>
    </td>
    <td>{{persona.club.nombre}}</td>
  </tr>
</table>
<pagination ng-change="pageChanged()" ng-model="currentPage" total-items="totalItems"></pagination>
