<form action="index.html" class="form-inline" method="post">
  <div class="form-group">

    <ul class="nav nav-pills">
      <li><a ui-sref="ARPGBA.club.patinadores({selectedClub:club.nombre})">Patinadores</a></li>
      <li><a ui-sref="ARPGBA.club.delegados({selectedClub:club.nombre})">Delegados</a></li>
      <li class="active"><a ui-sref="ARPGBA.club.tecnicos({selectedClub:club.nombre})">Tecnicos</a></li>
    </ul>
  </div>
      <button ui-sref="ARPGBA.club.nuevoTecnico" class="btn btn-default btn-lg btn-primary pull-right" type="button">Nuevo Tecnico</button>
</form><br>
<input class="form-control" type="text" ng-model="filtro" placeholder="Escriba por lo que se desea filtrar">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Licencia</th>
      <th>Informacion</th>
    </tr>
  </thead>
  <tr ng-repeat="tecnico in clubInfo.club.tecnicos | filter:filtro">
    <td>{{tecnico.nombre}}</td>
    <td>{{tecnico.apellido}}</td>
    <td>{{tecnico.licencia.activa}}</td>
    <td><a ng-click="clubInfo.open(tecnico)"><span class="glyphicon glyphicon-pencil"></span></a></td>
  </tr>
</table>
