<ul class="nav nav-pills">
<li><a ui-sref="ARPGBA.club.patinadores({selectedClub:club.club.nombre})">Patinadores</a></li>
<li class="active"><a ui-sref="ARPGBA.club.delegados({selectedClub:club.club.nombre})">Delegados</a></li>
<li><a ui-sref="ARPGBA.club.tecnicos({selectedClub:club.club.nombre})">Tecnicos</a></li><br>
</ul><br>
<input class="form-control" type="text" ng-model="filtro" placeholder="Escriba por lo que se desea filtrar">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Licencia</th>
      <th>Informacion</th>
    </tr>
  </thead>
  <tr ng-repeat="delegado in clubInfo.club.delegados | filter:filtro">
    <td>{{delegado.nombre}}</td>
    <td>{{delegado.apellido}}</td>
    <td>{{delegado.licencia.activa}}</td>
    <td><a ng-click="clubInfo.open(delegado)"><span class="glyphicon glyphicon-pencil"></span></a></td>
  </tr>
</table>
