<form action="index.html" class="form-inline" method="post">
  <div class="form-group">

    <ul class="nav nav-pills">
      <li><a ui-sref="ARPGBA.club.patinadores({selectedClub:club.nombre})">Patinadores</a></li>
      <li class="active"><a ui-sref="ARPGBA.club.delegados({selectedClub:club.nombre})">Delegados</a></li>
      <li><a ui-sref="ARPGBA.club.tecnicos({selectedClub:club.nombre})">Tecnicos</a></li>
    </ul>
  </div>
      <button ui-sref="ARPGBA.club.nuevoDelegado" class="btn btn-default btn-primary btn-lg pull-right" type="button">Nuevo Delegado</button>
</form><br>
<input class="form-control" ng-model="filtro" placeholder="Escriba por lo que se desea filtrar" type="text">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Licencia</th>
      <th>Informacion</th>
    </tr>
  </thead>
  <tr ng-repeat="delegado in clubInfo.club.delegados | filter:filtro">
    <td>{{delegado.nombre}}</td>
    <td>{{delegado.apellido}}</td>
    <td>{{delegado.licencia.activa}}</td>
    <td>
      <a ng-click="clubInfo.open(delegado)">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
    </td>
  </tr>
</table>
