<form>
  <div class="form-group col-lg-7">
    <label>Nombre</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-7">
    <label>Apellido</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-7">
    <label for="">Fecha de Nacimiento</label>
    <input ui-date="{dateFormat: 'd MM, y'}" class="form-control">
  </div>
  <div class="form-group col-lg-7">
    <label>D.N.I</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-7">
    <label>Nacionalidad</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-7">
    <label>Club</label>
    <select class="form-control">
      <option ng-repeat="club in personasController.clubes">{{club.nombre}}</option>
    </select>
  </div>
  <div class="form-group col-lg-6">
    <label>Direccion</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-6">
    <label>Codigo Postal</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-6">
    <label>Telefono</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-6">
    <label>Localidad</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-6">
    <label>Provincia</label>
    <input type="text" class="form-control">
  </div>
</form>
