.margen{
  padding-left: 0px;
  padding-top: 0px;
  border-right: 1px solid rgb(205, 205, 205);

}
.logoNavbar{
  height:40px;
  width:50px;
  padding-top:0%;
  padding-bottom:27%
}
.formularios{

}
.formularios.ng-invalid.ng-dirty {
    border-color: #db9788;
}
.formularios.ng-valid{
  border-color: #4cae4c;
}
